.sticky-footer-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  
  .custom-backdrop-filter {
    backdrop-filter: blur(7px);
    background-color: rgb(255 255 255 / 30%);
    filter: blur(7px);

  }
