html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  background-color: #f5f5f5;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.mrg-10px {
  margin-bottom: 10px;
}

.mrg-20px {
  margin-bottom: 20px;
}

.mrg-30px {
  margin-bottom: 30px;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.bt-blue {
  background-color: blue;
  border: darkblue;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 2px 6px -1px #0000009c;
  padding: 5px 10px;
}

.bt-red {
  background-color: red;
  border: #350101;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 2px 6px -1px #0000009c;
  padding: 5px 10px;
}

.bt-green {
  background-color: #19d344;
  border: #070a08;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 2px 6px -1px #0000009c;
  padding: 5px 10px;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-secondary {
  color: #1ac886;
}

.bg-secondary {
  background-color: #1ac886;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bt-blue-light {
  background-color: #73730d;
  color: #ccccff;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.bg-primary-dark-4 {
  background-color: #1e418f;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.bg-primary-dark-5 {
  background-color: #193777;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.bg-primary-dark-6 {
  background-color: #142c5f;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.bg-primary-dark-7 {
  background-color: #0f2147;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.bg-primary-dark-8 {
  background-color: #0a1630;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.bg-primary-dark-9 {
  background-color: #050b18;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.bg-secondary-dark-1 {
  background-color: #17b479;
}

.bg-secondary-light-1 {
  background-color: #31ce92;
}

.bg-secondary-dark-2 {
  background-color: #15a06b;
}

.bg-secondary-light-2 {
  background-color: #48d39e;
}

.bg-secondary-dark-3 {
  background-color: #128c5e;
}

.bg-secondary-light-3 {
  background-color: #5fd9aa;
}

.bg-secondary-dark-4 {
  background-color: #107850;
}

.bg-secondary-light-4 {
  background-color: #76deb6;
}

.bg-secondary-dark-5 {
  background-color: #0d6443;
}

.bg-secondary-light-5 {
  background-color: #8de4c3;
}

.bg-secondary-dark-6 {
  background-color: #0a5036;
}

.bg-secondary-light-6 {
  background-color: #a3e9cf;
}

.bg-secondary-dark-7 {
  background-color: #083c28;
}

.bg-secondary-light-7 {
  background-color: #baefdb;
}

.bg-secondary-dark-8 {
  background-color: #05281b;
}

.bg-secondary-light-8 {
  background-color: #d1f4e7;
}

.bg-secondary-dark-9 {
  background-color: #03140d;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.bg-error-dark-1 {
  background-color: #be234a;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.bg-error-dark-2 {
  background-color: #a91f42;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.bg-error-dark-3 {
  background-color: #941b39;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.bg-error-dark-4 {
  background-color: #7f1731;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.bg-error-dark-5 {
  background-color: #6a1429;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.bg-error-dark-6 {
  background-color: #541021;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.bg-error-dark-7 {
  background-color: #3f0c19;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.bg-error-dark-8 {
  background-color: #2a0810;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.bg-error-dark-9 {
  background-color: #150408;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.bg-green-dark-9 {
  background-color: #031705;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.bg-purple-dark-9 {
  background-color: #0f001a;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.bg-gray-light-5 {
  background-color: silver;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.bg-black-dark-1 {
  background-color: black;
}

.bg-black-light-1 {
  background-color: #1a1a1a;
}

.bg-black-dark-2 {
  background-color: black;
}

.bg-black-light-2 {
  background-color: #333333;
}

.bg-black-dark-3 {
  background-color: black;
}

.bg-black-light-3 {
  background-color: #4d4d4d;
}

.bg-black-dark-4 {
  background-color: black;
}

.bg-black-light-4 {
  background-color: #666666;
}

.bg-black-dark-5 {
  background-color: black;
}

.bg-black-light-5 {
  background-color: gray;
}

.bg-black-dark-6 {
  background-color: black;
}

.bg-black-light-6 {
  background-color: #999999;
}

.bg-black-dark-7 {
  background-color: black;
}

.bg-black-light-7 {
  background-color: #b3b3b3;
}

.bg-black-dark-8 {
  background-color: black;
}

.bg-black-light-8 {
  background-color: #cccccc;
}

.bg-black-dark-9 {
  background-color: black;
}

.bg-black-light-9 {
  background-color: #e6e6e6;
}

.bg-white-dark-1 {
  background-color: #e6e6e6;
}

.bg-white-light-1 {
  background-color: white;
}

.bg-white-dark-2 {
  background-color: #cccccc;
}

.bg-white-light-2 {
  background-color: white;
}

.bg-white-dark-3 {
  background-color: #b3b3b3;
}

.bg-white-light-3 {
  background-color: white;
}

.bg-white-dark-4 {
  background-color: #999999;
}

.bg-white-light-4 {
  background-color: white;
}

.bg-white-dark-5 {
  background-color: gray;
}

.bg-white-light-5 {
  background-color: white;
}

.bg-white-dark-6 {
  background-color: #666666;
}

.bg-white-light-6 {
  background-color: white;
}

.bg-white-dark-7 {
  background-color: #4d4d4d;
}

.bg-white-light-7 {
  background-color: white;
}

.bg-white-dark-8 {
  background-color: #333333;
}

.bg-white-light-8 {
  background-color: white;
}

.bg-white-dark-9 {
  background-color: #1a1a1a;
}

.bg-white-light-9 {
  background-color: white;
}

.card {
  border: 1px solid #841b60;
  border-radius: 4px;
}
.card .header {
  padding: 5px 10px;
  font-weight: 700;
  background: #ca2a93;
  color: #fff;
}
.card .header i {
  color: yellow;
}
.card .content {
  padding: 5px 10px;
  border-radius: 1.3333333333px;
}
.card .content-title {
  font-weight: 700;
}

.sticky-footer-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

/*# sourceMappingURL=style.css.map */
