@use "sass:math";
@use "sass:map";
@use "sass:color";
@import "partials/variables";
@import "partials/layout";
@import "partials/button";
@import "partials/card";

//this is a commit message
// ce faci ?
// my modification

