html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  background-color: #f5f5f5;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}
@each $var in $margins {
  .mrg-#{$var} {
    margin-bottom: $var;
  }
}

@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}

