// $bt_padding: 5px 10px;
// $bt_background: #ca2a93;
// $bt_border-radius: 4px;
// $border-purple: 1px solid #841b60;
// $bt-border-radious2: math.div($bt_border-radius, 3);
// $font-weights: (
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
// );
// $margins: 10px, 20px, 30px;
// $primary: #326dee;
// $secondary: #1ac886;
// $error: #d32752;
// $info: #f6c31c;

// $colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "error": $error,
//   "info": $info,
//   "blue": #1919e6,
//   "red": #e61919,
//   "yellow": #e6e619,
//   "green": #19e635,
//   "orange": #ffa600,
//   "purple": #9900ff,
//   "gray": #808080,
//   "black": black,
//   "white": white,
// );




